{% extends "home.html" %}

{% block content %}
    <h2>{{ eventTitle }}: <button type="button" class="btn btn-primary btn-sm">Add</button></h2>    

        <table class="table table-dark table-hover table-striped table-responsive-sm">
            <thead>
            <tr>
                <th>Participant name</th>
            </tr>
            </thead>
            <tbody>
                {% for enrollment in eventEnrollments %}
                    <tr>
                        <td>{{ enrollment.enroller }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}